numpy~=1.26.2
pandas~=2.1.4
Pillow~=10.1.0
tensorflow~=2.15.0.post1
tqdm~=4.65.0
setuptools~=68.2.2
matplotlib~=3.8.2
torch~=2.1.2
gym~=0.23.0
minihack~=0.1.5
imageio~=2.31.4
keras~=2.15.0
wandb~=0.16.2